body{
    align-items: center;
    justify-content: center; 
    display: flex;
    overflow: hidden; /* Remove a barra de rolagem */
    min-height: 100vh;
    margin-top: 2px;
    padding: 2px;
    align-items: center;
    text-align: center;
    background-image: url('../imagens/MathQuest.png'); /* Caminho para a imagem */
    background-size: cover;
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}

/*Ajuste para zoom de 50%*/
@media (max-width: 1200px) {
body{ 
        background-size: 156% 208%;
    }    
}
  
/*Ajuste para zoom de 100%*/
@media (min-width: 1201px) {    
body{
        background-size: 140% 180%;
    }
}

main {
    flex: 1;
    align-items: center;
    justify-content: center; 
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
}

@media (min-width: 1200px) { 
    #corpo2 { 
        width: 20%;
    }
}

@media (min-width: 1201px) { 
    #corpo2 {
        width: 94%;
    }
}

#tbem {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    color: transparent;
    background-clip: text;
    background-color: hsl(34, 53%, 82%);
    background-image: repeating-linear-gradient(
        45deg,
        #d7dd60 0%,
        #e4f52a 20%,
        #f3a322 30%,
        #f5511b 40%,
        #230f07 50%,
        #1d1320 60%,
        #83096e 70%,
        #840b2a 80%,
        #623c59 90%,
        #ef0a0a 100%
    );
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#tbem:hover {
    transform: scale(1.1);
    text-shadow: 4px 2px 3px rgb(46, 20, 158);
    animation: spin 5s linear infinite;
}

ul, li {
    text-align: justify;
    font-style: bold;
    font-size: 22px;
    color: #000;
    margin-top: 2px;
    margin-bottom: 5px;
    margin-left: 55px;
    padding: 5px; /* Ajuste do padding */
}

fieldset {
    border-color: #dfa27c;
    margin-top: 20px;
    margin-bottom: 5px;
}

legend {
    color: red;
    font-style: bold;
    font-size: 20px;
    text-shadow: 1px 2px 0.1px rgba(133, 8, 85, 1); /* Adiciona sombra ao texto */
}

footer {
    align-items: center;
    justify-content: center; 
    font-size: 20px;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    width: 700px;
    text-shadow: 3px 4px 1px rgba(0, 0, 0, 0.8); /* Adiciona sombra ao texto */
}
   
footer:hover {
    transform: scale(1.2);
    text-shadow: 1px 4px 3px rgba(245, 240, 240, 0.9); /* Adiciona sombra ao texto */
    animation: spin 5s linear infinite;
}
  
footer:active {
    transform: scale(0.95);
}

#tela {
    width: 80vw; /* 80% da largura da janela */
    height: auto; /* Mantém a proporção */
    max-width: 80vh; /* Limita a largura ao tamanho da altura da janela */
    border: 1px solid black;
    display: block;
    margin: 0 auto;
}

@keyframes msnP {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

.msnP {
    font-size: 40px;
    color: green;
    text-align: center;
    animation: msnP 2s infinite;
}
