
.corpo-i{
    display: flex;
    overflow: hidden; /* Remove a barra de rolagem */
    flex-direction: column;
    min-height: 100vh;
    margin-top: 5px;
    padding: 2px;
    align-items: center;
    text-align: center;
    background-image: url('../imagens/MathQuest.png'); /* Caminho para a imagem */
    background-size: cover;
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
}

/*Ajuste para zoom de 50%*/
@media (max-width: 1200px) {
.corpo-i { 
        background-size: 156% 158%;
    }    
}
  
/*Ajuste para zoom de 100%*/
@media (min-width: 1201px) {    
.corpo-i{
        background-size: 140% 180%;
    }
}

#corpo3 {
    max-width: 900px;
    max-height: 350px;
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(211, 208, 208, 0.4);
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: outset 1px 1px 10px rgba(0, 0, 0, 0.9);
}

.controles {
    display: flex;
    flex-direction: row; /* Correção da direção */
    align-items: flex-start;
    margin-left: 8px;
    margin-right: 15px;
    margin-top: 5px;
    padding: 5px;
    border: solid outset 3px #ccc;
    background-color: transparent;
}

.controles button {
    margin-left: 25px;
    padding: 10px 20px;
    width: 150px;
    height: 35px;
    border-radius: 8%;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold; /* Ajuste para negrito */
    border: outset yellow;
    background: linear-gradient(45deg, #b3b7a5 15%, #c9f054 35%, #30382b 75%, #c05d20 4%);
    color: white;
}

.controles button:hover {
    background-color: lightgoldenrodyellow;
    transform: scale(1.1);
}

.controles button:active {
    transform: scale(0.95);
}
