/*Consfiguração da página Instruções*/

#titulo3 { 
    display: flex;
    z-index: 3;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 850px;
    height: 200px;
    top: -428px;
    margin: 60px auto;
    padding: 0px auto; 
    font-family: "Lobster Two", sans-serif;
    font-size: 80px; 
    color: red;
    text-shadow: 15px 8px 1px rgba(0, 0, 0, 0.8); /* Adiciona sombra ao texto */
}

#titulo3:hover {
    transform: scale(1.3);
    text-shadow: 15px 8px 1px rgba(0, 0, 0, 0.8); /* Adiciona sombra ao texto */
    animation: spin 5s linear infinite;
}

#titulo3:active {
    transform: scale(1.1);
}
 
#titulo2 {
    top: -250px;   
    display: flex;
    z-index: 1;
    position: relative;
    border-radius: 10px;
    width: 1000px;
    height: 120px;  
    margin: 5px auto;
    padding: 5px auto; 
    text-shadow: 1px 4px 3px rgba(245, 240, 240, 0.9); /* Adiciona sombra ao texto */
    font-size: 50px;
    font-family: "Parisienne", cursive;
    color: yellow;
    font-style: bold;
}
    
#titulo2:hover {
    transform: scale(1.3);
    text-shadow: 1px 4px 3px rgba(245, 240, 240, 0.9); /* Adiciona sombra ao texto */
    animation: spin 5s linear infinite;
}

#titulo2:active {
    transform: scale(1.1);
    text-shadow: 1px 4px 3px rgba(245, 240, 240, 0.9); /* Adiciona sombra ao texto */
}

/*Ajuste para zoom de 50%*/
@media (max-width: 1200px) {

    #titulo1{
        transform: scale(0.65);
        }

        .controlesInst{
        transform: scale(0.95);
        }
        
        #controlesIndex {
        transform: scale(0.86);
        }

        #titulo2 {
        transform: scale(0.7);
        }

        #titulo3{  
        margin-top: 95px;
        }

        footer{
        position: absolute;
        top: 595px;
        font-size: 20px;
        }
}

/*Ajuste para zoom de 100%*/
@media (min-width: 1201px) { 

    #titulo1{
    transform: scale(0.86);
    top: -100px;
    }

    #titulo2{
    top: -245px;
    }

    #titulo3{  
    top:-400px;      
    transform: scale(0.8);
    }
    
    #controlesInst1{
    top: -35px;
    transform: scale(0.85);    
    }

    .controlesInst{
        transform: scale(0.85);
    }

    footer{
        position: absolute;
        margin-top: 545px;
        font-size: 20px;
    }
}

#controlesInst1{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center; 
    border-radius: 10px;
    width: 650px;
    height: 55%;
    margin: 8px 20px 2px 20px;
    padding: 2px 20px 2px 20px;
    border: outset 3px #2c2b2a;
    background-color: rgba(247, 243, 243, 0.4);
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.9);
    line-height: 1.5;
}

.controlesInst {
    top: 2px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center; 
    border-radius: 10px;
    width: 445px;
    height: 85px;
    margin: 20px auto;
    padding: 20px auto;
    border: outset 3px #dfa27c;
    background-color: transparent;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.9);
}

.controlesInst:hover {
    background-color: lightgoldenrodyellow;
    transform: scale(1.1);
}

.controlesInst:active {
    transform: scale(0.95);
}

.controlesInst button {
    margin: 5px 15px 15px;
    padding: 10px;
    width: 150px;
    height: 45px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold; /* Ajuste para negrito */
    border: outset yellow;
    background: linear-gradient(45deg, #b3b7a5 15%, #c9f054 35%, #30382b 75%, #c05d20 4%);
    color: white;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.9);
}

.controlesInst button:hover {
    background-color: lightgoldenrodyellow;
    transform: scale(0.9);
}

.controlesInst button:active {
    transform: scale(0.9);
}

@media (max-width: 1200px) {
    
    #controlesInst1 {
        top: -55px;
        width: 50%;
        height: 65vh;
        transform: scale(0.6); 
    }

    ul, li{
    transform: scale(1.1);
    }

    footer{
        margin-top: -60px;
    }
}
