/*Consfiguração da página Instruções*/

#titulo3Ind{ 
    align-items: center;
    justify-content: center; 
    margin-top: 50px;
    font-family: "Lobster Two", sans-serif;
    font-size: 65px; 
    text-shadow: 15px 8px 1px rgba(0, 0, 0, 0.8); /* Adiciona sombra ao texto */
}
   
#titulo3Ind:hover {
    transform: scale(1.2);
    text-shadow: 1px 4px 3px rgba(245, 240, 240, 0.9); /* Adiciona sombra ao texto */
    animation: spin 5s linear infinite;
}
  
#titulo3Ind:active {
    transform: scale(0.95);
}
 
.controles3Ind{
    top: 15px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center; 
    border-radius: 10px;
    width: 750px;
    height: 40vh;
    margin: 5px 20px 5px 20px;
    padding: 15px 20px 15px 20px;
    border: outset 3px #dfa27c;
    background-color: rgba(247, 243, 243, 0.4);
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.9);
    line-height: 1.1;
}

.controlesInst {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center; 
    border-radius: 10px;
    width: 450px;
    height: 70px;
    margin: 2px auto;
    padding: 2px auto;
    border: outset 3px #dfa27c;
    background-color: transparent;
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.9);
}

.controlesInst:hover {
    background-color: lightgoldenrodyellow;
    transform: scale(1.1);
}

.controlesInst:active {
    transform: scale(0.95);
}

.controlesInst button {
    margin: 5px 15px 5px;
    padding: 10px;
    width: 150px;
    height: 45px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold; /* Ajuste para negrito */
    border: outset yellow;
    background: linear-gradient(45deg, #b3b7a5 15%, #c9f054 35%, #30382b 75%, #c05d20 4%);
    color: white;
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.9);
}

.controlesInst button:hover {
    background-color: lightgoldenrodyellow;
    transform: scale(1.1);
}

.controlesInst button:active {
    transform: scale(0.95);
}

@media (max-width: 1200px) {
    .controles3Ind {
        transform: scale(0.5); /* Reduz o tamanho do elemento em 20% */
        position: relative;
        justify-content: center;
        width: 30vh;
        height: 50vh;
        top: 0px;
    }
    .controlesInst {
        top: 10px;
        transform: scale(0.7); 
    }
}