/*Estilos da página de instruções do Nível D1*/

#D1-coluna1,
#D1-coluna2 {
    display: flexbox;
    width: 48%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(240, 248, 255, 0.63);
    height: 50rem;
    border-radius: 2rem;
    margin: 1rem auto;
    margin-top: -10rem;
    box-shadow: 12px 14px 3px rgba(0, 0, 0, 0.6);
    padding: 2rem 5rem;
}

.cabecalho-instrucao {
    text-align: center;
    /* AJUSTE: 'justify-items' é para containers grid, 'text-align' para alinhar texto */
    padding: 5px;
    border-bottom: 2px solid #eee8f1;
    line-height: 1.6;
}

.cabecalho-instrucao h2,
.corpo-instrucao h2 {
    margin: 0;
    color: #5b0a91;
    /* Cor principal do jogo */
    font-size: 4rem;
}

.cabecalho-instrucao p {
    margin: 10px auto;
    font-size: 2.5rem;
    /* AJUSTE: 'rem' para consistência */
    color: #555;
}

.corpo-instrucao {
    padding: 25px;
}

#botao-iniciar {
    width: 95%;
    max-width: 250px;
    margin: 15rem auto;
    display: flex;
    height: auto;
    padding: 1.2vh 1vw;
    border-radius: 10px;
    font-size: 2.4rem;
    font-weight: bold;
    border: outset rgb(233, 203, 247);
    background: linear-gradient(45deg, #390258 5%, #ba58e7 45%, #e8d5f1 85%, #f1eff1 94%);
    text-shadow: 4px 4px 6px rgba(238, 245, 176, 0.7);
    color: rgb(10, 9, 10);
    box-shadow: 4px 8px 6px rgba(0, 0, 0, 0.9);
    cursor: pointer;
    transition: transform 0.1s ease;
}

#botao-iniciar:hover {
    transform: scale(1.1);
    filter: brightness(1.5);
}

#botao-iniciar:active {
    transform: scale(1.1);
}
    