
/* Configurações gerais - USAR A CONFIGURAÇAO INDEX.CSS ABAIXO*/

.corpoN1 {
  display: flex;
  overflow: hidden;
  /* Remove a barra de rolagem */
  flex-direction: column;
  min-height: 100vh;
  margin-top: 5px;
  padding: 2px;
  background-image: url('../imagens/MathQuest.gif');
  /* Caminho para a imagem */
  background-size: cover;
  background-position: center;
  /* Centraliza a imagem */
  background-repeat: no-repeat;
  /* Evita que a imagem se repita */
}

/*Ajuste para zoom de 50%*/
@media (max-width: 1200px) {
  .corpoN1 {
    background-size: 185% 120%;
  }
}

/*Ajuste para zoom de 100%*/
@media (min-width: 1201px) {
  .corpoN1 {
    background-size: 185% 120%;
  }
}

#principal {
  flex: 1;
  position: absolute;
  top: 20px;
}

section {
  top: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#titulo-nivel {
  color: darkblue;
  font-size: 30px;
  margin: 0px 10px 0px;
  filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 1));
}

/* Game Layout */
#jogo {
  position: relative;
  display: grid;
  grid-template-areas:
    "imagens tabuleiro botoes mensagem";
  grid-template-columns: 1fr 2fr 1fr 1fr;
  gap: 5px;
  max-width: 100%;
  height: auto;
}

/* Ajuste de zoom para 50% */
@media (max-width: 1200px) {
  #jogo {
    margin-top: 120px;
    transform: scale(0.7);
  }
}

/* Ajuste de zoom para 100% */
@media (min-width: 1201px) {
  #jogo {
    top: 140px;
    margin-top: 0px;
    transform: scale(0.9);
  }

  header{
    top: 1px;
    transform: scale(0.65);
    position: absolute;
    top: 1px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }

  footer{
    top: 600px;
    position: absolute;
    justify-content: center;
    text-align: center;
  }
}

#tabuleiro {
  grid-area: tabuleiro;
  padding: 1px;
  margin: 5px;
  align-items: center;  
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: #f0f0f0;
  width: 415px;
  height: 415px;
}

#mensagem {
  grid-area: mensagem;
  display: flex;
  align-items: center;
  margin: 90px 0px 75px;
  color: yellow;
  font-size: 40px;
  font-weight: bold;
  width: 200px;
  height: auto;
  filter: drop-shadow(3px 3px rgb(241, 7, 7));
}

.controles1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0px 5px 0px;
  padding: 0px 5px 0px;
  border: solid outset 3px #ccc;
  border-radius: 10px;
  background: rgba(231, 226, 229, 0.2);
  box-shadow: 10px 12px 12px rgba(0, 0, 0, 0.9);
  height: 450px;
}

.controles1 button {
  margin: 8px auto;
  padding: 10px auto;
  width: 150px;
  height: 35px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  border: outset yellow;
  background: linear-gradient(45deg, #b3b7a5 15%, #c9f054 35%, #30382b 75%, #c05d20 4%);
  color: white;
  box-shadow: 4px 8px 6px rgba(0, 0, 0, 0.9);
}

.controles1 button:hover {
  background-color: lightgoldenrodyellow;
  transform: scale(1.1);
}

.controles1 button:active {
  transform: scale(0.95);
}

img {
  width: 20vh; /* Defina a largura desejada */
  height: 10vh; /* Defina a altura desejada */
  object-fit: contain; /* Ajusta a imagem para cobrir a área definida */
  filter: drop-shadow(4px 4px 1.6px rgba(0, 0, 0, 1));
  padding: 2px;
  margin: 3px;
  border-radius: 40px;
}

img:hover {
transform: scale(1.5);
animation: spin 5s linear infinite;
}

#lista-imagens img {
  object-fit: contain;
  margin: 10px auto;
  padding: 10px;
  cursor: pointer;
  filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 2));
}

.legendas {
  color: rgba(255, 255, 255, 0.8);
  font-size: 20px;
  font-weight: bold;
  margin: 5px auto;
  border-radius: 10px;
  filter: drop-shadow(2px 2px 1px rgba(248, 5, 5, 1));
}