/* Estilos do Nivel 5 */
img {
    width: 20vh; /* Defina a largura desejada */
    height: 10vh; /* Defina a altura desejada */
    object-fit: contain; /* Ajusta a imagem para cobrir a área definida */
    filter: drop-shadow(4px 4px 1.6px rgba(0, 0, 0, 1));
    border-radius: 40px;
  }
  
  img:hover {
  transform: scale(1.3);
  animation: spin 5s linear infinite;
  }
  
  img:active {
    transform: scale(0.95);
  }

  